<launch>

    <arg name="video_device" default="/dev/video0" />

    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" clear_params="true" output="screen">
    
    	<remap from="usb_cam/image_raw" to="/camera/image_raw" />
    	<remap from="usb_cam/camera_info" to="/camera/camera_info" />

        <param name="video_device" value="$(arg video_device)" />

        <param name="image_width" value="640" />
        <param name="image_height" value="480" />
        <param name="framerate" value="30" />


        <param name="pixel_format" value="yuyv" />
        <param name="contrast" value="32" />
        <param name="brightness" value="32" />
        <param name="saturation" value="32" />
        <param name="camera_frame_id" value="camera_link" />
        
    </node>

  <node pkg="face_features" type="extract_landmarks" name="extract_landmarks" output="screen">
<!--    <param name="face_model" value="$(find gazr)/share/shape_predictor_68_face_landmarks.dat" /> -->
    <remap from="/image_topic" to="/camera/image_raw"/>
  </node>


<!--

  <node name="image_viewer_allface" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/face_image"/>
    <param name="autosize" value="true" />
  </node>
  
  <node name="image_viewer_face1" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/face_image_normalized_1"/>
    <param name="autosize" value="true" />
  </node>
  <node name="image_viewer_face2" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/face_image_normalized_2"/>
    <param name="autosize" value="true" />
  </node>
  <node name="image_viewer_face3" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/face_image_normalized_3"/>
    <param name="autosize" value="true" />
  </node>

-->

</launch>
